openapi: 3.0.2
info:
  title: Jobs
  version: "1.0"
servers:
  - url: https://vertical.digitalent.cloud/api/vertical
  - url: https://merge.digitalent.cloud/api/vertical
  - url: https://virtserver.swaggerhub.com/FILIPKOWAL_1/jobs/1.0
    description: SwaggerHub API Auto Mocking
security: []
paths:
  /{language}/jobs:
    get:
      operationId: getJobs
      summary: Get all jobs for a language of a particular board
      tags:
        - job
      parameters:
        - name: language
          in: path
          required: true
          style: simple
          explode: false
          schema:
            $ref: "#/components/schemas/Language"
        - name: Board-Id
          in: header
          required: false
          schema:
            type: string
            nullable: true
        - name: API-Version
          in: header
          required: false
          schema:
            type: string
            nullable: true
            example: "2.0"
      responses:
        "200":
          description: Get all jobs for a language of a particular board
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/jobs_response"
        "400":
          description: Invalid query parameters
        "404":
          description: Language not found
  /{language}/subscribe:
    post:
      operationId: subscribe
      summary: Subscribe to job alerts
      tags:
        - filter
      parameters:
        - name: language
          in: path
          required: true
          style: simple
          explode: false
          schema:
            $ref: "#/components/schemas/Language"
        - name: Board-Id
          in: header
          required: false
          schema:
            type: string
            nullable: true
        - name: API-Version
          in: header
          required: false
          schema:
            type: string
            nullable: true
            example: "2.0"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/subscribe_body"
      responses:
        "200":
          description: Subscription successful
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Invalid request body supplied
  /{language}/save:
    post:
      operationId: save
      summary: Save a job
      tags:
        - job
      parameters:
        - name: language
          in: path
          required: true
          style: simple
          explode: false
          schema:
            $ref: "#/components/schemas/Language"
        - name: Board-Id
          in: header
          required: false
          schema:
            type: string
            nullable: true
        - name: API-Version
          in: header
          required: false
          schema:
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/save_body"
      responses:
        "200":
          description: Save successful
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Invalid request body supplied
  /{language}/apply:
    post:
      operationId: apply
      summary: Apply for a job
      tags:
        - job
      parameters:
        - name: language
          in: path
          required: true
          style: simple
          explode: false
          schema:
            $ref: "#/components/schemas/Language"
        - name: Board-Id
          in: header
          required: false
          schema:
            type: string
            nullable: true
        - name: API-Version
          in: header
          required: false
          schema:
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/apply_body"
      responses:
        "200":
          description: "Application successful. "
          content:
            application/json:
              schema:
                type: string
                example:
                  You've successfuly applied for 2 jobs. Check your email to
                  arrange an interview.
        "400":
          description: Invalid request body supplied
  /{language}/refer:
    post:
      operationId: refer
      summary: Refer a job to a friend
      tags:
        - job
      parameters:
        - name: language
          in: path
          required: true
          style: simple
          explode: false
          schema:
            $ref: "#/components/schemas/Language"
        - name: Board-Id
          in: header
          required: false
          schema:
            type: string
            nullable: true
        - name: API-Version
          in: header
          required: false
          schema:
            type: string
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/refer_body"
      responses:
        "200":
          description: Unique link for job referral
          content:
            application/json:
              schema:
                type: string
                format: url
        "400":
          description: Invalid request body supplied
components:
  schemas:
    Id:
      type: string
      example: "123"
    Address:
      type: object
      properties:
        street:
          type: string
          example: Wiener Str.
        city:
          type: string
          example: Bern
        canton:
          type: string
          example: Bern
        region:
          type: string
          example: Western Part of Switzerland
        country:
          type: string
          example: Switzerland
    DateTime:
      type: string
      format: date-time
    Metainfo:
      type: object
      properties:
        title:
          type: string
          example: "EN: Linux Systems Engineer"
        description:
          type: string
          example: "EN: Du möchtest Dein Knowhow bei einem führenden IaaS/PaaS-Dienstleister einbringen und vertiefen? Dann sollten wir uns kennenlernen."
        keywords:
          type: array
          items:
            type: string
          example:
            - "Excel"
            - "Virtualisation"
            - "VMware EN"
        authors:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: "Vlada Berozkina | digitalent ag"
        openGraph:
          type: object
          properties:
            title:
              type: string
              example: "EN: Linux Systems Engineer"
            description:
              type: string
              example: "EN: Du möchtest Dein Knowhow bei einem führenden IaaS/PaaS-Dienstleister einbringen und vertiefen? Dann sollten wir uns kennenlernen."
            url:
              type: string
              format: url
              example: "https://karriere.aspectra.ch/en/linux-systems-engineer"
            images:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                    format: url
                    example: "https://karriere.aspectra.ch/media/3613/aspectra-linux-systems-engineer.jpg"
                  width:
                    type: number
                    example: 1200
                  height:
                    type: number
                    example: 630
                  alt:
                    type: string
                    example: "EN: Linux Systems Engineer"
                required:
                  - url
            locale:
              type: string
              example: "ch_en"
            type:
              type: string
              enum:
                - website
                - article
                - book
                - profile
                - music.song
                - music.album
                - music.playlist
                - music.radio_station
                - video.movie
                - video.episode
                - video.tv_show
                - video.other
              example: "website"
        twitter:
          type: object
          properties:
            card:
              type: string
              enum:
                - summary
                - summary_large_image
                - player
                - app
              example: "summary_large_image"
            title:
              type: string
              example: "EN: Linux Systems Engineer"
            description:
              type: string
              example: "EN: Du möchtest Dein Knowhow bei einem führenden IaaS/PaaS-Dienstleister einbringen und vertiefen? Dann sollten wir uns kennenlernen."
            creator:
              type: string
              example: "Vlada Berozkina | digitalent ag"
            images:
              type: array
              items:
                type: string
                format: url
                example: "https://karriere.aspectra.ch/media/3613/aspectra-linux-systems-engineer.jpg"
    Tags:
      type: array
      example:
        - tag1
        - tag2
        - tag3
      items:
        type: string
    File:
      type: object
      properties:
        content:
          type: string
          format: base64
          example: "data:image/webp;base64,UklGRs61AABXRUJQVlA4WAoAAA"
        lastModified:
          type: number
        name:
          type: string
          example: cv.webp
        size:
          type: number
        type:
          type: string
          example: image/webp
    SalaryRange:
      type: object
      properties:
        amount:
          $ref: "#/components/schemas/Range"
        currency:
          type: string
        unit:
          type: string
      example:
        amount:
          - 40000
          - 100000
        currency: CHF
        unit: year
    Employer:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Id"
        name:
          type: string
          example: Baggenstos
        logo:
          type: string
          format: url
    Range:
      maxLength: 2
      minLength: 2
      type: array
      example:
        - 20
        - 80
      items:
        type: number
    Language:
      maxLength: 2
      type: string
      default: de
      enum:
        - de
        - en
        - fr
    Job:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Id"
        title:
          type: string
          example: React Engineer
        datePosted:
          $ref: "#/components/schemas/DateTime"
        address:
          $ref: "#/components/schemas/Address"
        employer:
          $ref: "#/components/schemas/Employer"
        salary:
          $ref: "#/components/schemas/SalaryRange"
        workload:
          $ref: "#/components/schemas/Range"
        homeOffice:
          $ref: "#/components/schemas/Range"
        tags:
          $ref: "#/components/schemas/Tags"
        technologies:
          $ref: "#/components/schemas/Tags"
        careerFields:
          $ref: "#/components/schemas/Tags"
        industries:
          $ref: "#/components/schemas/Tags"
        jobLevel:
          type: string
        companySize:
          type: string
        landingPageUrl:
          type: string
          format: url
        responsibilities:
          type: string
          format: markup
        requirements:
          type: string
          format: markup
        metainfo:
          $ref: "#/components/schemas/Metainfo"
    ActiveFilters:
      type: object
      properties:
        careerFields:
          $ref: "#/components/schemas/Tags"
        technologies:
          $ref: "#/components/schemas/Tags"
        industries:
          $ref: "#/components/schemas/Tags"
        jobLevels:
          $ref: "#/components/schemas/Tags"
        companySizes:
          $ref: "#/components/schemas/Tags"
        workload:
          $ref: "#/components/schemas/Range"
        homeOffice:
          type: number
          example: 70
        salary:
          type: number
        cantons:
          $ref: "#/components/schemas/Tags"
    Filters:
      type: object
      properties:
        careerFields:
          $ref: "#/components/schemas/Tags"
        technologies:
          $ref: "#/components/schemas/Tags"
        industries:
          $ref: "#/components/schemas/Tags"
        jobLevels:
          $ref: "#/components/schemas/Tags"
        companySizes:
          $ref: "#/components/schemas/Tags"
        workload:
          $ref: "#/components/schemas/Range"
        homeOffice:
          $ref: "#/components/schemas/Range"
        salary:
          $ref: "#/components/schemas/Range"
        cantons:
          $ref: "#/components/schemas/Tags"
    jobs_response:
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: "#/components/schemas/Job"
        length:
          type: integer
          description: "Length of the collection of jobs"
    subscribe_body:
      type: object
      properties:
        email:
          type: string
          format: email
        activeFilters:
          $ref: "#/components/schemas/ActiveFilters"
    save_body:
      type: object
      properties:
        email:
          type: string
          format: email
        jobId:
          type: string
    apply_body:
      type: object
      properties:
        email:
          type: string
          format: email
        sex:
          type: string
          enum:
            - man
            - woman
            - other
        name:
          type: string
        message:
          type: string
        files:
          type: array
          items:
            $ref: "#/components/schemas/File"
        linkedIn:
          type: string
          format: url
        jobIds:
          type: array
          items:
            $ref: "#/components/schemas/Id"
    refer_body:
      type: object
      properties:
        email:
          type: string
          format: email
        jobId:
          $ref: "#/components/schemas/Id"
  parameters:
    UserId:
      name: userId
      in: query
      required: false
      style: form
      explode: true
      schema:
        $ref: "#/components/schemas/Id"
    Language:
      name: language
      in: path
      required: true
      style: simple
      explode: false
      schema:
        $ref: "#/components/schemas/Language"
    CareerFields:
      name: careerFields
      in: query
      required: false
      style: form
      explode: false
      schema:
        $ref: "#/components/schemas/Tags"
      example:
        - frontend
        - fullstack
    Technologies:
      name: technologies
      in: query
      required: false
      style: form
      explode: false
      schema:
        $ref: "#/components/schemas/Tags"
      example:
        - react
        - nodejs
    Industries:
      name: industries
      in: query
      required: false
      style: form
      explode: false
      schema:
        $ref: "#/components/schemas/Tags"
      example:
        - it
    JobLevels:
      name: jobLevels
      in: query
      required: false
      style: form
      explode: false
      schema:
        $ref: "#/components/schemas/Tags"
      example:
        - contributor
        - expert
        - leader
    Workload:
      name: workload
      in: query
      required: false
      style: form
      explode: false
      schema:
        $ref: "#/components/schemas/Range"
      example:
        - 80
        - 100
    HomeOffice:
      name: homeOffice
      in: query
      required: false
      style: form
      explode: false
      schema:
        type: number
      example: 70
    Currency:
      name: currency
      in: query
      required: false
      style: form
      explode: false
      schema:
        type: string
      example: CHF
    Cantons:
      name: cantons
      in: query
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
      example:
        - Baden
        - Lugano
